Repository sharpdressedcodes/react-video-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js:staged --, npm run lint:scss:staged --

Fix local linting. (#15)
  .eslintignore
  .stylelintignore
  README.md
  package.json
Due: none

Update Cypress
  package-lock.json
  package.json
Due: none

Fix hooks
  hooks/pre-commit
  hooks/pre-push
Due: none

Tidy up node Dockerfile
  docker/node/Dockerfile
Due: none

Linting
  .eslintignore
  package.json
  src/components/App/components/App.js
  src/components/App/styles/app.scss
  src/components/ErrorBoundary/components/ErrorBoundary.js
  src/components/InfoTable/components/InfoTable.js
  src/components/Nav/components/Nav.js
  src/components/Nav/styles/nav.scss
  src/components/Picture/components/Picture.js
  src/components/Teaser/components/Teaser.js
  src/components/TeaserList/components/TeaserList.js
  src/components/Uploader/api/upload.js
  src/components/Uploader/components/Uploader.js
  src/components/Uploader/tests/Uploader.test.js
  src/components/VideoPlayer/components/VideoPlayer.js
  src/components/pages/HomePage/components/HomePage.js
  src/components/pages/HomePage/styles/home-page.scss
  src/components/pages/UploadPage/components/UploadPage.js
  src/components/pages/UploadPage/styles/upload-page.scss
  src/components/pages/VideoPlayerPage/components/VideoPlayerPage.js
  src/components/pages/VideoPlayerPage/tests/VideoPlayerPage.test.js
  src/styles/helpers/typography.scss
  src/styles/helpers/variables.scss
  src/styles/mixins/breakpoint.scss
  tests/fixtures/filesMock.js
  tests/unit/__mocks__/videosMock.js
  tests/unit/helpers/mount.js
Due: npm run lint:js:staged --, npm run lint:scss:staged --

Add security headers middleware.
  src/server/index.js
  src/server/middleware/index.js
  src/server/middleware/securityHeaders.js
Due: npm run lint:js:staged --

Update dependencies, stage 1
  package-lock.json
  package.json
Due: none

Update axios
  .eslintrc
  package-lock.json
  package.json
  src/components/Uploader/api/upload.js
Due: npm run lint:js:staged --

Remove mkdirp
  package-lock.json
  package.json
  src/server/fileSystem.js
Due: npm run lint:js:staged --

Update rimraf, concurrently
  package-lock.json
  package.json
Due: none

Update wait-on
  package-lock.json
  package.json
Due: none

Update webpack-cli
  package-lock.json
  package.json
Due: none

Update webpack-dev-middleware
  .gitignore
  README.md
  package-lock.json
  package.json
  src/server/index.js
  webpack-common.config.js
Due: npm run lint:js:staged --

Update @svgr/webpack
  package-lock.json
  package.json
Due: none

Update babel-loader
  package-lock.json
  package.json
Due: none

Update stylelint + config
  package-lock.json
  package.json
  stylelint.config.js
Due: npm run lint:js:staged --

Update cypress
  package-lock.json
  package.json
Due: none

Update material-ui. Add custom theme. Make Google fonts load locally.
  README.md
  package-lock.json
  package.json
  src/components/App/components/App.js
  src/components/Uploader/components/Uploader.js
  src/components/VideoPlayer/components/VideoPlayer.js
  src/server/middleware/securityHeaders.js
  src/styles/helpers/typography.scss
  src/theme/index.js
  webpack-common.config.js
  webpack.config.js
Due: npm run lint:js:staged --, npm run lint:scss:staged --

Fix 2 severe npm audit warnings
  package-lock.json
Due: none

Docs
  README.md
Due: none

Add web-vitals.
  package-lock.json
  package.json
  src/config/index.js
  src/index.js
  src/reporting/WebVitals/index.js
Due: npm run lint:js:staged --

Add web-vitals.
  README.md
  src/index.js
Due: npm run lint:js:staged --

Fix gitignore
  .gitignore
  src/server/middleware/checkForBot.js
Due: npm run lint:js:staged --

Update packages
  .stylelintignore
  package-lock.json
  package.json
  src/styles/helpers/typography.scss
Due: npm run lint:scss:staged --

Update redux code to use new slices. Add e2e test in pre-push hook.
  .husky/pre-push
  scripts/run-e2e.js
  src/actions/loadVideos.js
  src/actions/uploader.js
  src/actions/video.js
  src/components/App/components/App.js
  src/components/Uploader/components/Uploader.js
  src/components/Uploader/tests/Uploader.test.js
  src/components/VideoPlayer/components/VideoPlayer.js
  src/components/pages/HomePage/tests/HomePage.test.js
  src/components/pages/UploadPage/components/UploadPage.js
  src/components/pages/UploadPage/tests/UploadPage.test.js
  src/components/pages/VideoPlayerPage/tests/VideoPlayerPage.test.js
  src/constants/loadVideos.js
  src/constants/uploader.js
  src/constants/video.js
  src/index.js
  src/reducers/loadVideos.js
  src/reducers/uploader.js
  src/reducers/video.js
  src/server/server-entry.js
  src/state/reducers/loadVideos.js
  src/state/reducers/uploader.js
  src/state/reducers/video.js
  src/state/stores/app.js
  tests/unit/helpers/bootstrap.js
  tests/unit/helpers/mount.js
Due: npm run lint:js:staged --

Lazy load images. Tidy up hooks.
  README.md
  src/common/canUseDOM.js
  src/common/index.js
  src/common/isInViewport.js
  src/components/Picture/components/Picture.js
  src/components/pages/HomePage/components/HomePage.js
  src/components/pages/UploadPage/components/UploadPage.js
  src/components/pages/VideoPlayerPage/components/VideoPlayerPage.js
  src/hooks/DidUpdate/index.js
  src/hooks/index.js
  src/hooks/useDidUpdate.js
Due: npm run lint:js:staged --

Fix window code
  src/common/canUseDOM.js
Due: npm run lint:js:staged --

Add eslint-webpack-plugin
  README.md
  package-lock.json
  package.json
  webpack-common.config.js
  webpack.config.js
Due: npm run lint:js:staged --

Fix webpack scripts
  package.json
Due: none

Fix pipeline
  .github/workflows/pull-request.yml
Due: none

Fix pipeline
  .github/workflows/pull-request.yml
  docker/node/ci-update-user.sh
Due: none

Fix lint staged
  lint-staged.config.js
  tsconfig.lint-staged.json
Due: npm run lint:js:staged --

Path conditions:
  npm run lint:js:staged --: any of: *.js
  npm run lint:scss:staged --: any of: *.scss
