Repository sharpdressedcodes/react-video-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js:staged --, npm run lint:scss:staged --

Fix lint staged
  .eslintignore
  lint-staged.config.js
  tsconfig.lint-staged.json
Due: npm run lint:js:staged --

Fix lint staged
  tsconfig.lint-staged.json
Due: none

Fix lint staged
  lint-staged.config.js
Due: npm run lint:js:staged --

Fix lint staged
  .husky/pre-commit
  tsconfig.lint-staged.json
Due: none

Fix lint staged
  lint-staged.config.js
  tsconfig.lint-staged.json
Due: npm run lint:js:staged --

Fix lint staged
  .husky/pre-commit
  lint-staged.config.js
Due: npm run lint:js:staged --

Fix lint staged
  .husky/pre-commit
Due: none

Add types for config
  src/components/Uploader/tests/Uploader.test.js
  src/components/pages/HomePage/components/HomePage.tsx
  src/components/pages/UploadPage/components/UploadPage.tsx
  src/components/pages/VideoPlayerPage/components/VideoPlayerPage.tsx
  src/config/index.ts
  src/index.tsx
  src/server/api/video/create.ts
  src/server/api/video/read.ts
  src/server/index.ts
  src/server/middleware/checkVideoId.ts
  src/server/middleware/loadVideos.ts
  src/server/middleware/render.tsx
Due: npm run lint:js:staged --

Fix linting
  src/components/Form/components/FormControls/styles/form-controls.scss
  src/components/Form/components/FormFile/styles/form-file.scss
  src/components/Form/styles/form.scss
Due: npm run lint:scss:staged --

Move built server dir to build.
  .eslintignore
  .gitattributes
  .gitignore
  .stylelintignore
  README.md
  package.json
  src/components/App/components/App.tsx
  src/config/index.ts
  src/server/index.ts
  src/server/middleware/render.tsx
  src/state/stores/app.ts
  tests/unit/__mocks__/videosMock.js
  tsconfig.eslint.json
  tsconfig.json
  webpack.config.js
Due: npm run lint:js:staged --

Build browser and server at same time
  .github/workflows/pull-request.yml
  package.json
  scripts/run-e2e.js
Due: npm run lint:js:staged --

Build browser and server at same time
  package.json
Due: none

Update browserslist
  babel.config.js
  package-lock.json
  package.json
Due: npm run lint:js:staged --

Update browserslist
  babel.config.js
Due: npm run lint:js:staged --

Replace classNames with built in method.
  package-lock.json
  package.json
  src/common/classNames.ts
  src/common/index.ts
  src/components/Form/components/Form.tsx
  src/components/Form/components/FormControls/components/FormControls.tsx
  src/components/Form/components/FormField/components/FormField.tsx
  src/components/Form/components/FormFields/components/FormFields.tsx
  src/components/Form/components/FormFile/components/FormFile.tsx
  src/components/GlobalSpinner/components/GlobalSpinner.tsx
  src/components/InfoTable/components/InfoTable.tsx
  src/components/Modal/components/Modal.tsx
  src/components/Nav/components/Nav.tsx
  src/components/Nav/components/NavLink/components/NavLink.tsx
  src/components/PageProgressBar/components/PageProgressBar.tsx
  src/components/Picture/components/Picture.tsx
  src/components/Spinner/components/Spinner.tsx
  src/components/Teaser/components/Teaser.tsx
  src/components/TeaserList/components/TeaserList.tsx
  src/components/Toast/components/Toast.tsx
  src/components/VideoPlayer/components/VideoPlayer.tsx
  src/components/pages/ErrorPage/components/ErrorPage.tsx
  src/hooks/useForwardRef.ts
Due: none

Replace classNames with built in method.
  src/common/classNames.ts
Due: none

Replace classNames with built in method.
  src/common/classNames.ts
  src/common/dedupe.ts
  src/common/index.ts
Due: none

Update README
  README.md
Due: none

Update dependecies.
  package-lock.json
  package.json
Due: none

Update upload page files field name from 'file' to 'videos'.
  src/components/pages/UploadPage/components/UploadPage.tsx
  src/components/pages/UploadPage/config/index.ts
  src/components/pages/UploadPage/types/index.ts
  src/server/api/video/create.ts
  src/server/index.ts
Due: none

Update deps.
  package-lock.json
  package.json
Due: none

Update deps
  package-lock.json
  package.json
  src/styles/helpers/colours.scss
Due: npm run lint:scss:staged --

Update docs
  README.md
Due: none

Update deps
  package-lock.json
  package.json
Due: none

Update hooks
  hooks/pre-commit
  hooks/pre-push
Due: none

Update CI
  .github/workflows/merge-to-master.yml
  .github/workflows/pull-request.yml
  hooks/pre-commit
  hooks/pre-push
Due: none

Update CI
  docker-compose.ci.yml
Due: none

Update CI
  .github/workflows/pull-request.yml
Due: none

Update packages.
  package-lock.json
  package.json
  tests/unit/helpers/bootstrap.ts
Due: none

Update packages. (#23)
  package-lock.json
  package.json
  tests/unit/helpers/bootstrap.ts
Due: none

Fix markdown lint commands
  docker-compose.yml
  package.json
Due: none

Path conditions:
  npm run lint:js:staged --: any of: *.js
  npm run lint:scss:staged --: any of: *.scss
